.main_page {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.nav_area, .search_area {
    height: 100%;
    overflow-y: hidden;
    padding-top: 50px;
}
.nav_area{
    padding-right: 30px;
}

.search_area{
    padding-left: 30px;
    padding-right: 20px;
}

input{
    width: 80%;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

label{
    margin-left: 6px;
}

.post_area {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding-top: 30px;
    padding-bottom: 60px;
    align-items: center;
    border: 1px solid #ccc
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
} 
