:root {
  /* Font Sizes */
  --font-size-xx-small: 10px;
  --font-size-x-small: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-x-large: 20px;
  --font-size-xx-large: 24px;
  --font-size-xxx-large: 32px;

  /* Headings Font Sizes */
  --font-size-h1: 36px;
  --font-size-h2: 32px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;
  --font-size-h6: 16px;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Line Heights */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-loose: 1.75;

  /* Paragraph Styles */
  --paragraph-font-size: var(--font-size-medium);
  --paragraph-line-height: var(--line-height-normal);
  --paragraph-font-weight: var(--font-weight-normal);

  /* Button Styles */
  --button-font-size: var(--font-size-small);
  --button-font-weight: var(--font-weight-bold);

  /* Miscellaneous */
  --text-transform-uppercase: uppercase;
  --text-transform-capitalize: capitalize;
  --text-transform-none: none;
}





body{
  font-family: "Geist Mono", serif;
  font-weight: 500;
  font-style: normal;
}


/* .form-label h6,
.form-label {
  color: #ffc60a;
  font-weight: 600;
}

.form-control,
.form-select {
  border: 1px solid #8c908c !important
}

.dashboard-nav {
  background: linear-gradient(to top, rgba(204, 153, 0, 1), rgba(255, 236, 88, 1));
}

.content-area {
  margin-left: 20%;
  height: 100vh;
  overflow-y: auto;
}

.full-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: all 1s;
}

.list-nav {
  border-radius: 10px;
  background: #f5ffff !important;
  text-align: start;
  color: #898989 !important;
}

.list-nav:hover {
  background:
      #327ad7 !important;
  font-weight: bolder;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  color: white !important
}

.btn-custom {
  width: 250px;
  max-width: 100%;
  transition: hover 2s;
}

.toggleHeading {
  text-wrap-style: balance;
}




.btn-custom:hover {
  color: white !important;
  transition: all 1ms;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* 
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
} */



/* 
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */